

.search_grand_container{
  /* border: 1px solid red; */
  /* border-top: 1px solid #dedede; */
  /* padding: 0px 0px 5%; */
}

.search_grand_container a{
  text-decoration: none;
  color: black;
}

.serach_child_container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 1%;
}

.search_items_container{
  /* border: 1px solid red; */
  /* padding: 3%; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #dedede; */
}

.search_items {
  /* border: 1px solid red; */
  width: 30%;
  display: flex;
  flex-direction: row;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: 20px;
}

.search_item_img {
  display: flex;
  /* border: 1px solid red; */
  justify-content: start;
  padding: 20px;
  /* border-bottom: 1px solid #dedede; */
}

.search_item_img_container{
  width: 40%;
  /* border: 1px solid #dedede; */
  margin-right: 30px;
  /* background-color: #f3f3f3; */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_item_img_container img{
  width: 150px;
}

.search_item_extra_info{
  display: flex;
  justify-content: start;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
}

.search_item_extra_info p{
  margin-top: 10px;
}

.search_item_extra_info_name{
  font-size: 22px;
  font-weight: 700;
}

.search_item_extra_info_price{
  font-size: 22px;
  color: black;
  /* font-weight: 700; */
}

.search_item_extra_info_quantity{
  color: red;
  font-weight: 600;
}

.search_child_left_side{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  /* border: 1px solid red; */
}

.search_child_right_side{
  /* border: 1px solid red; */
  width: 20%;
}

.search_child_lef_side_filters_container{
  /* border: 1px solid red; */
  width: 100%;
}

.search_child_lef_side_filters_container h3{
  margin-bottom: 20px;
  margin-top: 20px;
}

.search_child_left_side_filters_childs{
  display: flex;
  margin-right: 5%;
  width: 100%;
  margin-bottom: 10px;
}

.search_child_left_side_filters_childs p {
  margin-left: 10px;
}

.search_child_left_side_filters{
  margin-right: 5%;
  /* border: 1px solid #dedede; */
  padding: 20px;
  width: 50%;
}

#search_btn_for_filters{
  padding: 10px;
  width: 50%;
  border: 1px solid black;
  background-color: transparent;
  margin-top: 15%;
}

#search_btn_for_filters:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.product_view_info{
  color: cadetblue;
}

.search_child_left_side_filters_childs_category_quantity{
  display: flex;
}

.search_child_left_side_filters_childs_category_quantity span{
  margin-left: 15px;
  color: #8D8D8D;
}

.search_items_container_sub_div{
  /* border: 1px solid red; */
  width: 20%;
  margin-right: 15px;
  /* padding: 10px; */
}

.search_items_container_sub_div span{
  background-color: black;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 20%; */
}

.search_items_container_sub_div span a{
  text-decoration: none;
  color: white;
}

.search_items_container_sub_div_container{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.search_items_container_of_items{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1200px) {

  .serach_child_container{

    /* border: 1px solid red; */
    flex-direction: column;

  }

  .search_items_container{
    width: 100%;
  }

}


@media (max-width: 1200px) {

  .search_item_img_container{
    width: 30%;
  }
  
  .search_item_img_container img{
    width: 100%;
  }

}

@media (max-width: 600px) {

  .search_item_img_container{
    margin-right: 0px;
  }

  .search_item_img{
    justify-content: center;
    align-items: center;
  }
  
  .search_item_extra_info p{
    margin-top: 10px;
  }
  
  .search_item_extra_info_name{
    font-size: 15px;
  }
  
  .search_item_extra_info_price{
    font-size: 20px;
    color: black;
    font-weight: 700;
  }
  
  .search_item_extra_info_quantity{
    color: red;
    font-weight: 600;
  }
  
  .search_item_extra_info_rate{
    font-size: 15px;
  }

  .search_item_img{
    flex-direction: column;
  }

  .search_item_extra_info_quantity{
    display: none;
  }

  .search_item_extra_info_company{
    display: none;
  }

  .search_items_container{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}

@media (max-width: 350px) {

  .search_item_img_container{
    width: 100%;
  }

}