
<link rel="stylesheet" href="/css/category/home.css">

<div id="category_container">
  
  <div id="category_top_information">
    <div id="category_top_information_left_side">
      <h3>Marcas</h3>
      <p>Lista de marcas en la plataforma</p>
    </div>
    <div id="category_top_information_right_side">
      <div>
        <a href="#" id="category_top_add_button"><i class="fa-solid fa-circle-plus"></i></a>
      </div>
    </div>
  </div>

  <div id="category_middle_information">
    <% brands.forEach((item) => { %>
    <div id="category_middle_information_content">
      <div id="category_middle_information_content_img">
        <p><%= item._doc.name.charAt(0).toUpperCase() %></p>
        <h4><%= item._doc.name %></h4>
      </div>
      <div id="category_middle_information_content_date">
        <% let count = 0; %>
        <% products.forEach((product) => { %>
          <% if (product.companyName === item._doc.name) { %>
            <% count++; %>
          <% } %>
        <% }) %>      
        <strong>Productos: </strong><p><%= count %></p>
      </div>
    </div>
    <% }) %>
  </div>

</div>

<div id="category_modal_id" class="category_modal">
  <div class="category_modal-content">
    <!-- <span id="category_modal_close" class="category_modal-close">&times;</span> -->
    <h3>Insertar nueva marca</h3>
    <form action="/add_new_brand" method="post" id="add_category_form">
      <input type="text" name="category_name_data" id="category_name_input" placeholder="Nombre de la categoría" required>
    </form>
    <div>
      <button id="category_add_button" type="submit" form="add_category_form">Agregar</button>
      <button id="category_cancel_button">Cancelar</button>
    </div>
  </div>
</div>

<script src="scripts/brand/brand.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>