

<div>
    <!-- <h2>Pago Cancelado</h2> -->
</div>

<script>
    Swal.fire({
        title: 'Pago cancelado o ocurrio un error',
        confirmButtonText: 'entendido!',
        icon: 'error', 
        }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
            setTimeout(() => {
                window.location.href = "/cart";
            }, 500);
        }
    })
</script>