
<link rel="stylesheet" href="css/email/emailConfirmed.css">

<div class="emailConfirmedContainer">
  <div class="emailConfirmedSubContainer">
    <i class="fa-solid fa-circle-check"></i>
    <h2>Tu cuenta ha sido verificada correctamente, <br> ahora puedes iniciar sesion en tu cuenta!</h2>
    <a href="/login">Iniciar sesion</a>
  </div>
</div>

<script src="scripts/email/emailConfirmed.js"></script>