
.extra_info{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px;
}

.extra_info a{
    text-decoration: none;
    color: #FFFFFF;
}

.extra_info_left_side{
    /* font-size: 15px; */
    /* border: 1px solid red; */
    width: 50vh;
}

.extra_info_left_side p{
    margin-left: 15vh;
}

.extra_info_center_side{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    width: 50vh;
}

.extra_info_right_side{
    /* border: 1px solid red; */
    width: 50vh;
    display: flex; 
    justify-content: end;
}

.extra_info_right_side_a_elements a{
    margin-right: 3vh;
}

.extra_info_right_side_a_elements{
    margin-right: 12vh;
}

/* ESTILOS RESPONSIVE */
@media (max-width: 1450px) {

    .extra_info_center_side{
        display: none;
    }

    .extra_info{
        
    }

    .extra_info_right_side{
        margin: 0px 0px;
        width: 100%;
    }

    .extra_info_left_side{
        width: 100%;
        margin: 0px 0px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .extra_info_right_side_a_elements{
        margin: 0px 0px;
        width: 100%;
    }

    .extra_info_right_side_a_elements a{
        margin-right: 1vh;
    }
    
    .extra_info_right_side_a_elements{
        margin-right: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 580px) {

    .extra_info_left_side{
        display: flex;
        justify-content: start;
        align-items: start;
        width: 50%;
    }

    .extra_info_left_side p {
        margin: 0px;
    }

    .extra_info_right_side{
        width: 50%;
    }

}

@media (max-width: 335px) {

    .extra_info{
        display: none;
    }

}

@media ( max-width: 1700px ) {

    .extra_info_center_side p {
        font-size: 14px;
    }

}