<link rel="stylesheet" href="/css/extraInfo.css">

<div class="extra_info">
    <div class="extra_info_left_side">
        <p><i class="fa-solid fa-phone"></i>  +1829XXXXXXX</p>
    </div>
    <div class="extra_info_center_side">
        <p>Un 50% menos en productos seleccionados</p>
        |
        <p>Compra Ahora!</p>
    </div>
    <div class="extra_info_right_side">
        <div class="extra_info_right_side_a_elements">
            <a href="#" class="extra_info_links">ESP  <i class="fa-solid fa-angle-down"></i></a>
            <a href="#" class="extra_info_links">Ubicacion  <i class="fa-solid fa-angle-down"></i></i></a>
        </div>
    </div>
</div>